.header {
  &__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 650px;
    width: 1550px;
  }

  &__menu-bar {
    display: flex;
    align-items: center;
  }

  &__menu-bar-logo {
    margin-left: 50px;
    padding: 8px 8px 8px 0;

    img {
      width: 55px;
      height: 55px;
      display: block;
    }
  }

  &__menu-bar-menu {
    font-size: var(--font-size-sm);
    color: var(--color-gray-300);
    font-family: 'Crimson Pro', sans-serif;
    margin-left: 50px;
    display: flex;
  }

  &__menu-bar-menu-item {
    &:not(:first-child) {
      margin-left: 14px;
    }

    a {
      text-decoration: none;
      color: var(--color-gray-300);
      &:hover {
        color: var(--color-crimson);
      }
    }
  }
}

.buying {
  display: flex;
  justify-content: space-between;

  &__info {
    font-size: var(--font-size-17xl);
    color: var(--color-gray-300);
    font-family: 'Roboto', sans-serif;
    width:302px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }

  &__price {
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: 1px #000000;
    width:302px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-crimson);
  }
}

.panorama {
  margin-top: 155px;
  margin-left: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  &__info {
    width: 346px;
    height: 285px;
    font-size: var(--font-size-lg);
    font-family: 'Crimson Pro', sans-serif;
    color: var(--color-gray-400);

    &__p {
      font-size: var(--font-size-sm);
      font-family: 'Crimson Pro', sans-serif;
      color: var(--color-gray-400);
    }
  }

  &__info-date-choice-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    &-month-button {
      border-radius: var(--br-3xl-5);
      border: 2px solid var(--color-crimson);
      cursor: pointer;
      width: 127px;
      background-color: var(--color-white);
      padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs)
      var(--padding-2xl);
      font-family: 'Crimson Pro', sans-serif;
      font-size: var(--font-size-lg);
      color: var(--color-gray-300);
      &:hover {
        background-color: var(--color-crimson);
        scale: 1.1;
      }
      &:focus {
        background-color: var(--color-crimson);
      }
    }
  }

  &__info-actions {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 45px;
    margin-top: 25px;

    &-action {
      cursor: pointer;
      border: none;
      padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs) 24px;
      border-radius: var(--br-3xl-5);


      &_payment {
        background-color: var(--color-crimson);
        width: 186px;
        font-size: var(--font-size-lg);
        color: var(--color-white);
        font-family: 'Roboto', sans-serif;
        &:hover {
          border: 3px dotted #fa434b;
          color: #000000;
          background: rgba(0,0,0,0);
        }
      }

      &_cancel {
        background-color: var(--color-silver-200);
        width: 134px;
        font-size: var(--font-size-lg);
        color: var(--color-gray-300);
        font-family: 'Roboto', sans-serif;
        &:hover {
          border: 3px dotted #c4c4c4;
          background: rgba(0,0,0,0);
        }
      }
    }
  }

  &__scheme {
    margin-right: 150px;
    width: 435px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title {
      text-align: center;
      font-size: var(--font-size-lg);
      color: var(--color-gray-300);
      font-family: 'Roboto', sans-serif;
      margin-bottom: 10px;
    }

    &-row-number {
      font-size: var(--font-size-sm);
      color: var(--color-gray-300);
      font-family: 'Crimson Pro', sans-serif;
    }

    &-row-1,
    &-row-2,
    &-row-3,
    &-row-4,
    &-row-5,
    &-row-6,
    &-row-7,
    &-row-8,
    &-row-9,
    &-row-10,
    &-row-11,
    &-row-12,
    &-row-13,
    &-row-14,
    {
      display: flex;
      width: 530px;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &-seat {
      width: 18px;
      height: 18px;
      position: relative;
      border-radius: 50%;
      background-color: var(--color-silver-200);
      font-size: 12px;
      margin-left: 5px;
      align-content: center;
      text-align: center;
    }
  }
}

#form-wrap {
  opacity: 0;
  transition: opacity .5s;
}

#form-wrap.open {
  transition: opacity .5s;
  opacity: 1;
}

@media screen and (max-width: 1010px) {
  .panorama {
    flex-direction: column;
    &__scheme {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 875px) {
  .header__image {
      width: 880px;
    }
  .buying {
    width: 880px;
  }
}

@media screen and (max-width: 600px) {
  .header__image {
    width: 600px;
  }
  .buying {
    width: 600px;
  }
}

//@media screen and (max-width: 1200px) {
//  .div47,
//  .frame1 {
//    box-sizing: border-box;
//  }
//  .frame1 {
//    gap: 212px;
//    padding-left: var(--padding-18xl);
//    padding-right: var(--padding-18xl);
//  }
//  .div47 {
//    padding-left: var(--padding-6xl);
//    padding-right: var(--padding-6xl);
//  }
//}
//@media screen and (max-width: 1050px) {
//  .h1 {
//    font-size: 29px;
//  }
//  .frame1 {
//    padding-top: 218px;
//    box-sizing: border-box;
//  }
//  .calendar {
//    flex-wrap: wrap;
//  }
//}
//@media screen and (max-width: 750px) {
//  .frame1,
//  .frame2 {
//    box-sizing: border-box;
//  }
//  .frame2 {
//    flex-wrap: wrap;
//    padding-left: var(--padding-xl);
//    padding-right: var(--padding-xl);
//    padding-bottom: var(--padding-xl);
//  }
//  .frame1 {
//    gap: 106px;
//    padding-top: 142px;
//  }
//  .div47 {
//    height: auto;
//    gap: var(--gap-6xl);
//  }
//}
//@media screen and (max-width: 450px) {
//  .main-area {
//    gap: var(--gap-xl);
//    padding-left: var(--padding-6xl);
//    padding-right: var(--padding-6xl);
//    box-sizing: border-box;
//  }
//  .h1 {
//    font-size: 22px;
//  }
//  .price-area {
//    padding-left: var(--padding-xl);
//    padding-right: var(--padding-xl);
//    box-sizing: border-box;
//  }
//  .frame1 {
//    gap: 53px;
//  }
//  .navigation-buttons,
//  .selection-labels {
//    flex-wrap: wrap;
//  }
//  .month-navigation {
//    gap: var(--gap-xl);
//  }
//  .payment-options {
//    flex-wrap: wrap;
//  }
//  .month-selection {
//    gap: var(--gap-6xl);
//  }
//}