<events>
    <event>
        <name>Иваново детство</name>
        <description>
            Премьера состоялась 15 апреля 2021 года.

            По киносценариям фильмов "Иваново детство" и "Зеркало".Иван — это ребёнок, снедаемый страстью взрослого. Он потерял детство на войне и погиб, потому что жил как взрослый. Картина должна строиться на характере мальчика, но должны быть эпизоды, где выясняются его детские черты. В рассказе найдена точная деталь — игра в войну — что может быть страшнее! Здесь все очень глубоко, страшно и правдиво, здесь нет места приключенческой романтике…


            Иван видит сны. Ему снится та жизнь, которой он лишён, обыкновенное детство. В снах должно быть обыкновенное счастливое детство. В жизни — та страшная нелепость, которая происходит, когда ребёнок вынужден воевать.
        </description>
        <image>public/frame@3x.png</image>
        <date>20 Мая, 18:30</date>
        <lateDate>22 Июня, 18:30</lateDate>
        <age>14+</age>
        <time>1 ч. 40 мин</time>
    </event>
    <event>
        <name>Лиса и виноград</name>
        <description>
            Премьера состоялась 8 февраля 2020 года.

            По киносценарияю фильма "Эзоп".

            Богач и философ Ксанф вернулся из путешествия с группой купленных им рабов, один из которых - Эзоп - настолько безобразен и уродлив.
        </description>
        <image>public/frame-197@3x.png</image>
        <date>24 Мая, 21:30</date>
        <lateDate>8 Июня, 21:30</lateDate>
        <age>16+</age>
        <time>1 ч. 30 мин</time>
    </event>
    <event>
        <name>Граф Монте-Кристо</name>
        <description>
            Премьера состоялась 20 февраля 2021 года.

            Эдмон Дантес (граф Монте-Кристо) — главный герой, моряк, несправедливо заключённый в тюрьму. Также использовал имена и личины аббат Бузони, лорд Уилмор, мальтиец Дзакконе, Синдбад-Мореход. Аббат Фариа — товарищ Эдмона Дантеса по заключению, учёный монах, открывший ему тайну клада на острове Монте-Кристо.
        </description>
        <image>public/grafEvent.jpg</image>
        <date>28 Мая, 20:00</date>
        <lateDate>4 Июня, 21:30</lateDate>
        <age>12+</age>
        <time>2 ч. 30 мин</time>
    </event>
    <event>
        <name>Фауст. Сделка с дьяволом</name>
        <description>
            Премьера состоялась 9 июля 2021 года.

            Мефистофель снова отправляется на землю, в его саквояже бесчисленная коллекция человеческих душ, не хватает только одной. Речь идёт о докторе Фаусте, который уже не раз собирался покончить с собой, но некая незримая сила вновь и вновь подталкивала вернуть револьвер в ящик стола.
        </description>
        <image>public/faustEvent.jpg</image>
        <date>2 Июня, 21:30</date>
        <lateDate>8 Июня, 21:30</lateDate>
        <age>16+</age>
        <time>2 ч. 10 мин</time>
    </event>
    <event>
        <name>Горе от ума</name>
        <description>
            Премьера состоялась 3 августа 2021 года.

            Это представление о человеке нового типа 20 годов XIX. Он обличает общественные пороки, вольнодумец. Чацкий за свободу мнений, против крепостничества, считает высшей ценностью личные качества человека, а не его положение и уровень богатства. От лица Чацкого автор выражает свою позицию, он выбрал его резонёром.
        </description>
        <image>public/goreEvent.jpg</image>
        <date>6 Июня, 16:00</date>
        <lateDate>15 Июня, 18:30</lateDate>
        <age>12+</age>
        <time>1 ч. 40 мин</time>
    </event>
    <event>
        <name>Кошкин дом</name>
        <description>
            Премьера состоялась 9 сентября 2022 года.

            Сатирическая сказка-пьеса Самуила Маршака, написанная во время работы в Краснодаре. Была издана в сборнике 1922 года «Театр для детей». Сказка повествует о богатой тёте-кошке и её друзьях: козе, козле, курице и петухе, которые отворачиваются от своей подруги после того, как у неё сгорел дом.
        </description>
        <image>public/catEvent.jpeg</image>
        <date>17 Июня, 18:00</date>
        <lateDate>22 Июня, 20:00</lateDate>
        <age>12+</age>
        <time>2 ч. 30 мин</time>
    </event>
    <event>
        <name>Идиот</name>
        <description>
            Премьера состоялась 25 ноября 2022 года.

            Дворянина Льва Мышкина в обществе называют идиотом. Он тихий чудак, нравственный и добрый человек, вдобавок ко всему страдающий психическим заболеванием. Он — воплощение христианских идеалов. Его антипод — страстный, буйный кутила и эгоист Парфен Рогожин, который приносит несчастье знакомым людям.
        </description>
        <image>public/idiotEvent.jpg</image>
        <date>20 Июня, 16:00</date>
        <lateDate>26 Июня, 20:30</lateDate>
        <age>12+</age>
        <time>1 ч. 20 мин</time>
    </event>
    <event>
        <name>Пиковая дама</name>
        <description>
            Премьера состоялась 20 мая 2022 года.

            Жизнь Лизаньки в доме своенравной и эгоистичной старухи несносна. Она виновата буквально во всем, что раздражает графиню. Бесконечные придирки и капризы ...
        </description>
        <image>public/damaEvent.jpg</image>
        <date>24 Июня, 21:30</date>
        <lateDate>28 Июня, 21:30</lateDate>
        <age>16+</age>
        <time>2 ч. 10 мин</time>
    </event>
</events>