<events>
    <event>
        <name>Иваново детство</name>>
        <description>
            Премьера состоялась 15 апреля 2021 года.

            По киносценариям фильмов "Иваново детство" и "Зеркало".Иван — это ребёнок, снедаемый страстью взрослого. Он потерял детство на войне и погиб, потому что жил как взрослый. Картина должна строиться на характере мальчика, но должны быть эпизоды, где выясняются его детские черты. В рассказе найдена точная деталь — игра в войну — что может быть страшнее! Здесь все очень глубоко, страшно и правдиво, здесь нет места приключенческой романтике…


            Иван видит сны. Ему снится та жизнь, которой он лишён, обыкновенное детство. В снах должно быть обыкновенное счастливое детство. В жизни — та страшная нелепость, которая происходит, когда ребёнок вынужден воевать.
        </description>
        <image>public/Rectangle 141.jpg</image>
    </event>
    <event>
        <name>Лиса и виноград</name>>
        <description>
            Премьера состоялась 8 февраля апреля 2020 года.

            По киносценарияю фильма "Эзоп".

            Богач и философ Ксанф вернулся из путешествия с группой купленных им рабов, один из которых - Эзоп - настолько безобразен и уродлив.
        </description>
        <image>public/frame-197@3x.png</image>
    </event>
</events>